@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

.title-trailer {
    margin-top: 70px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #28647f;
    font-size: 50px;
    text-align: center;
}

#trailer-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-family: 'Allerta', sans-serif;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.trailer {
    width: 40%;
    border-radius: 8px;
    margin-right: 30px;
}

.sinopse {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #3c3c3c;
    margin-left: 30px;
    margin-right: 50px;
}

.description {
    width: 100%;
    text-align: justify;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.5em;
}

.button {
    width: 180px;
    height: 50px;
    background-color: #28647f;
    color: #fff;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    margin-top: 25px;
    font-weight: 100;
}

.button:hover {
    background-color: #3c3c3c;
    color: #e0e0f8;
    border: none;
}


@media (max-width: 900px) {
    .title-trailer {
        font-size: 40px;
        margin-top: 50px;
    }

    #trailer-container {
        width: 100%;
    }

    .content {
        width: 100%;
        flex-direction: column;
    }

    .trailer {
        width: 85%;
        border-radius: 12px;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .sinopse {
        width: 85%;
        align-items: center;
        margin: 0;
        margin-bottom: 30px;
    }

    .description {
        width: 100%;

    }

    .button {
        width: 500px;
    }

}

@media (max-width: 480px) {
    .title-trailer {    
        font-size: 28px;
        margin: 30px 20px;
    }

    .trailer {
        width: 90%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .sinopse {
        width: 85%;
        align-items: center;
        margin: 0;
        margin-bottom: 20px;
    }

    .description {
        width: 100%;
        margin: 0;
    }

    .button {
        width: 300px;
    }

} 