#banner{
    background-image: url('../../assets/images/_dsc3779.jpg');
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 570px;
    margin-top: 90px;
}

@media (max-width:900px) {
    #banner{
        background-position: 75% 50%;
    }
}

@media (max-width:768px) {
    #banner{
        background-image: url('../../assets/images/home4.jpg');
        background-position: 10% 50%;
    }
}