#banner{
    background-image: url('../../assets/images/_dsc3779.jpg');
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 570px;
    margin-top: 90px;
}

@media (max-width:800px) {

}